.table > tbody > tr > td {
  vertical-align: middle;
}

.logon {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../zajawka-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  min-height: 350px;
  background: rgba(255,255,255, 0.6);
}
.login__title {
  font-size: 24px;
}
.nav__btn {
  display: flex;
  align-items: center;
}
